<!--The content below is only a placeholder and can be replaced.-->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
<div class="appDiv " style="text-align:center">
  <div>
    <app-nav-bar (clickTruthEmitter)="getClickTrigger($event)" (idEmitter)="getChartCompID($event)"></app-nav-bar>
  </div>

  <!--<div class="container">-->
  <!--  <div class="dropdown">-->
  <!--    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chart</button>-->
  <!--    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >-->
  <!--      <button class="dropdown-item" type="button">Action</button>-->
  <!--      <button class="dropdown-item" type="button">Action</button>-->
  <!--      <button class="dropdown-item" type="button">Action</button>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
  <div *ngIf="IdChartComponent" class="container">
    <app-chart [idComponentDB]="IdChartComponent"></app-chart>
  </div>
  <!--<div><app-panel-layout></app-panel-layout></div>-->
</div>
