<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <a class="navbar-brand" href="#">Data Visualisation</a>-->
<!--  <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"-->
<!--          class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
<!--  <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--    <ul class="navbar-nav mr-auto">-->
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--      </li>-->
<!--      <li class="nav-item dropdown">-->
<!--        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"-->
<!--           id="navbarDropdown" role="button">-->
<!--          Chart-->
<!--        </a>-->
<!--        <div aria-labelledby="navbarDropdown" class="dropdown-menu">-->
<!--          <a (click)="onClickId($event)" class="dropdown-item" id="BarChartComponent">Bar</a>-->
<!--          <a (click)="onClickId($event)" class="dropdown-item" id="PieChartComponent">Pie</a>-->
<!--          <a (click)="onClickId($event)" class="dropdown-item" id="HistogramChartComponent">Histogram</a>-->
<!--          <div class="dropdown-divider"></div>-->
<!--          <a (click)="onClickId($event)" class="dropdown-item" id="StackedBarChartComponent">Stacked Bar</a>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a aria-disabled="true" class="nav-link disabled" href="#" tabindex="-1">Disabled</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->


<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

  <a class="navbar-brand mr-1" routerLink="/home" routerLinkActive="active">Data Visualisation</a>

  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" href="#" id="sidebarToggle">
    <i class="fas fa-bars"></i>
  </button>

  <!-- Navbar Search -->
  <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    <div class="input-group">
      <input aria-describedby="basic-addon2" aria-label="Search" class="form-control" placeholder="Search for..."
             type="text">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>

  <!-- Navbar -->
  <ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item dropdown no-arrow mx-1">
      <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
         id="alertsDropdown" role="button">
        <i class="fas fa-bell fa-fw"></i>
        <span class="badge badge-danger">9+</span>
      </a>
      <div aria-labelledby="alertsDropdown" class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
    <li class="nav-item dropdown no-arrow mx-1">
      <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
         id="messagesDropdown" role="button">
        <i class="fas fa-envelope fa-fw"></i>
        <span class="badge badge-danger">7</span>
      </a>
      <div aria-labelledby="messagesDropdown" class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
    <li class="nav-item dropdown no-arrow">
      <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
         id="userDropdown" role="button">
        <i class="fas fa-user-circle fa-fw"></i>
      </a>
      <div aria-labelledby="userDropdown" class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">Settings</a>
        <a class="dropdown-item" href="#">Activity Log</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" data-target="#logoutModal" data-toggle="modal" href="#">Logout</a>
      </div>
    </li>
  </ul>

</nav>
